<html>
<head>
<!-- Latest compiled and minified CSS -->

{% load staticfiles %}

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">

<!-- Optional theme -->
<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">

<link href="{% static "css/starter-template.css" %}" rel="stylesheet">

<script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'instance_list' %}">SCLab HDFS Image Viewer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="menu_home" class="tmenu active"><a href="{% url 'instance_list' %}">Home</a></li>
			<li id="menu_rc" class="tmenu"><a href="{% url 'wtRecognize' %}">Recognizing Console</a></li>
			<li id="menu_lc" class="tmenu"><a href="{% url 'wtLearning' %}">Leanring Console</a></li>
			<li id="menu_wt" class="tmenu"><a href="{% url 'webTerminal' %}">Web Terminal</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
			<li><button type="button" class="btn btn-danger" style="display:none;" id="delete_button">Delete</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
