{% include "imageviewer/include/header.html" %}

    <div class="container">

      	<div class="starter-template">
        	<h1>Manage files list</h1>
			<table class="table">
		    	<thead>
		      	<tr>
					<th>Select</th>
					<th>Image</th>
			        <th>Crawl name</th>
			        <th>Instance ID</th>
			        <th>File name</th>
					<th>url</th>
			    </tr>
		    	</thead>
		    	<tbody>
					{% for instance in list %}
						<tr>
							<td><div class="checkbox"></div></td>
					        <td><img src="{{ instance.url }}" class="img-fluid" alt="Responsive image" width="150"></td>
					        <td>{{ instance.crawl_name }}</td>
					        <td>{{ instance.instance_id }}</td>
							<td>{{ instance.file_id }}</td>
							<td><a href="{{ instance.url }}">Go URL</a></td>
			      		</tr>
			        {% endfor %}

		    	</tbody>
		  	</table>
      	</div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
